<footer class="footer has-background-white has-text-black">
  <div class="container">
    <div class="content has-text-centered has-text-weight-bold">
      <p>
        (Whether)Weather - Weather App
        <img class="image is-16x16 is-inline" src="/images/copyright.png" alt="(whether)weather">
      </p>
    </div>
  </div>
</footer>