<header class="column is-12 has-text-centered">
  <div class="content-text has-text-centered">
    <img class="is-pulled-left"src="/images/logo.png" sizes="128x128" alt="Logo" />
      <p class="title is-size-1 has-text-weight-bold">Dashboard</p>
  </div>
</header>