<!-- Included Bulma NAV as a way to get back to the Dashboard -->
<nav class="navbar has-background-white">
  <div class="navbar-brand">
    <span class="navbar-burger has-background-white" data-target="navbarMenu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </span>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end has-background-white">
      <a href="/index" class="navbar-item has-text-warning has-text-weight-bold is-size-3">
        Dashboard
      </a>
    </div>
  </div>
</nav>
