<!DOCTYPE html>
<html class="has-background-white" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whether Weather</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/cloud-favicon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />

  <!-- Including ling to JS data, from the provided data set -->
  <script src="/js/bulma.js"></script>
  <script src="/js/components/city-names.js"></script>
  <script src="/js/components/forecast-data.js"></script>
  <script src="/js/weather_data.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

      <script src="/js/pages/city-focus.js"></script>
</head>

<body>
  {% include "nav.njk" %}

  <!-- Heading for City Focus -->
  <main class="columns is-multiline box has-background-white is-centered">
    <div class="column is-12 has-text-centered">
      <div class="content-text has-text-centered">
        <a href="/index">
        <img class="is-pulled-left" src="/images/logo.png" sizes="128x128" alt="Logo" />
        </a>
          <p id="city-name" class="title is-size-1 has-text-weight-bold"></p>
          <p class="subtitle is-size-3 has-text-weight-bold">Today</p>
      </div>
    </div>

    <div class="column is-two-thirds is-offset-one-third has-text-centered">
      <section class="card has-text-centered has-text-white has-text-weight-bold has-background-black">
        <header class="card-header">
          <p class="card-header-title is-size-4 has-text-white has-text-weight-bold is-centered">Right Now</p>
        </header>

        <div class="card-content is-flex">
          <div class="column is-half">
            <p id="currentTemp" class="content is-size-4"></p>
          </div>
          <div class="column is-half">
            <p id="currentWind" class="content is-size-4"></p>  
          </div>
        </div>
      </section>
    </div>

    <div class="column is-one-third is-offset-one-third has-text-centered">
      <section class="card has-text-centered has-text-white has-text-weight-bold has-background-black">
        <header class="card-header">
          <p class="card-header-title is-size-4 has-text-white has-text-weight-bold is-centered">Max Temp</p>
        </header>
        <article class="card-content is-flex is-justify-content-center">
          <p id="maxTemp" class="is-size-4"></p>
        </article>
      </section>
    </div>

    <div class="column is-one-third has-text-centered">
      <section class="card has-text-centered has-text-white has-text-weight-bold has-background-black">
        <header class="card-header">
          <p class="card-header-title is-size-4 has-text-white has-text-weight-bold is-centered">Max Wind</p>
        </header>
        <article class="card-content is-flex is-justify-content-center">
          <p id="maxWind" class="content is-size-4"></p>
        </article>
      </section>
    </div>
  </main>

{% include "footer.njk" %}

</body>
</html>

